html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family:'Raleway', sans-serif;
}

/* Body - background image */
body {
	background-image: url('../Bacon.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: scroll;
	background-attachment: fixed;
}

/* Body - introduction */
.introduction .heading h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	margin: 0rem 2rem;
	padding-top: 3.5rem;
	color: #333;
}
.introduction .message h3 {
	font-family: 'Raleway', sans-serif;
	margin: 1rem 2rem;
	color: #777777;
}

/* Body - rightnav */
ul {
	list-style: none;
}
.projectlist h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	margin: 1rem 2rem;
	padding-top: 4rem;
	padding-bottom: .5rem;
	color: #333;
}
.projectlinks li {
	display: block;
	height: 2.5rem;
	margin: 0rem -.25rem;
}
.projectlinks li a {
	display: inline-block;
	text-decoration: none;
	color: #333;
	border-top: 1px #777777 solid;
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 20%;
}

/* Footer */
.footer .content h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	margin: 1rem 2rem;
	padding-top: 2.5rem;
	padding-bottom: .5rem;
	color: #333;
}
.footer .icons > li {
	border-radius: 2rem;
	width: 3.5rem;
	height: 3.5rem;
	border: 1px solid #eaebec;
	text-align: center;
	display: inline-block;
	padding-top: .75rem;
	margin-right: 1.5rem;
}
.instagram > a {
	color: #333;
}
.twitter > a {
	color: #333;
}
.facebook > a {
	color: #333;
}

.footer h5 {
	color: #333;
	margin: 2.5rem 2.5rem;
}

